body {
		margin: 0;
		padding: 0;
		background-color: lightgray;
	}
#calculator {

}
#display_box {
	width: 500px;
	height: 120px;
	line-height: 80px;
	background-color: white;
	text-align: center;
	font-size: 200%;
	padding: 10px 10px 10px 10px;
	margin: auto;
}
#display_output {

}
#buttons_area {
	margin: 0 auto;
	width: 600px;
	background-color: darkgray;
	/*display: inline-block;*/
	border: solid;
	border-color: black;
	text-align: center;

}
button {
	margin: 2px;
	width: 75px;
	height: 50px;
	line-height: 50px;
	font-family: 'Averia Serif Libre';
	font-size: 22px;
	border-radius: 6px;
	background-color: rgb(171, 184, 142);
	text-align: center;
}
button.double-wide {
	width: 158px;
}
button.operator {
	background-color: #cf9;
}
button.num {
	background-color: rgb(255, 255, 204);
}
#divide {
	font-size: 40px;	
}
#equals {
	background-color: #a2ffff;
}
#itsworking {
	/*visibility: hidden;*/
	height: 170;
	width: 400;
	padding: 10px;
}